<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hit.backend.mapper.RumorMapper">
    <!--动态sql-->
    <select id="pagelist" resultType="cn.edu.hit.backend.pojo.Rumor">
        SELECT r.*, GROUP_CONCAT(t.name SEPARATOR ',') as tags
        FROM rumor r
        JOIN rumor_tag rt ON r.id = rt.rumor_id
        JOIN tag t ON rt.tag_id = t.id
        WHERE 1=1

        <!-- 如果传入 searchRumor 参数 -->
        <if test="searchRumor != null and searchRumor != ''">
            AND r.rumor LIKE CONCAT('%', #{searchRumor}, '%')
        </if>

        <!-- 如果传入 searchTags 参数 -->
        <if test="searchTags != null and searchTags.size() > 0">
            AND t.name IN
            <foreach collection="searchTags" item="searchTag" open="(" separator="," close=")">
                #{searchTag}
            </foreach>
        </if>

        GROUP BY r.id
        <if test="searchTags != null and searchTags.size() > 0">
            HAVING COUNT(DISTINCT t.name) = #{searchTagListLength}
        </if>

    </select>
</mapper>